<ion-header>
  <app-header title="Register new account"></app-header>

  <ul class="form-tabs" #formTabs>
    <li class="active">
      <ion-icon name="md-finger-print"></ion-icon>
      <span>Profile setup</span>
    </li>
    <li>
      <ion-icon name="ios-contact-outline"></ion-icon>
      <span>Account setup</span>
    </li>
    <li>
      <ion-icon name="ios-heart-outline"></ion-icon>
      <span>More information</span>
    </li>
  </ul>
</ion-header>


<ion-content>
  <form [formGroup]="form">
    <ion-slides (ionSlideDidChange)="slideChanged()" formArrayName="register">
      <ion-slide formGroupName="0">
        <ion-row>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
          </ion-col>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-select placeholder="Gender" id="gender" formControlName="gender">
              <ion-option value="male">Male</ion-option>
              <ion-option value="female">Female</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="number" formControlName="age" placeholder="Age"></ion-input>
          </ion-col>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ionic-selectable item-content placeholder="Country" formControlName="country"
                              [items]="app.values.countries | withKeys" [canSearch]="true"
                              itemValueField="key" itemTextField="value">
            </ionic-selectable>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide formGroupName="1">
        <ion-row>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
          </ion-col>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="tel" formControlName="phone" placeholder="Phone"></ion-input>
          </ion-col>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-col>
          <ion-col col-12>
            <ion-label>
              <ion-icon name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="password" formControlName="password_confirmation" placeholder="Confirm Password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide formGroupName="2">
        <ion-row>
          <ion-col col-12>
            <ion-textarea (keyup)="app.functions.resize($event)" rows="3" placeholder="Description" formcontrolName="description"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>

<ion-footer padding>
  <ion-row>
    <ion-col col-3 *ngIf="! isFirst">
      <button ion-button block color="danger" (click)="goToBack()">Back</button>
    </ion-col>
    <ion-col col *ngIf="! isEnd">
      <button ion-button block [disabled]="invalid" (click)="gotToNext()">Continue</button>
    </ion-col>
    <ion-col col *ngIf="isEnd">
      <button ion-button block [disabled]="invalid" (click)="register()">Register</button>
    </ion-col>
  </ion-row>
</ion-footer>
