page-chat {
  ion-header {
    #profile_pic {
      position: absolute;
      top: 5px;
      left: 35px;
    }
  }

  ion-content {
    .scroll-content {
      display: flex;
      align-items: flex-end;
    }

    &.no-messages .scroll-content {
      align-items: center;
      justify-content: center;
    }

    #profile {
      .thumbnail {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid darken(color($colors, light), 2%);
      }

      ion-badge {
        margin-bottom: 3px !important;
        margin-right: 3px !important;
      }

      h3 {
        position: relative;
        margin: 5px 0 10px 0;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: -20px;
          right: calc(50% - (35px));
        }

        &.online:after {
          background-color: color($colors, secondary);
          box-shadow: 0 0 10px color($colors, secondary);
        }

        &.offline:after {
          background-color: color($colors, danger);
          box-shadow: 0 0 10px color($colors, danger);
        }
      }
    }

    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .chat-box {
        width: 100%;
        height: 100%;
        position: relative;
        background: #f9fbfc;

        .message-area {
          max-height: 90%;
          height: 90%;
          overflow: auto;
          padding: 15px 10px;

          .message {
            p {
              color: #8a898b;
              font-size: 13px;
              font-weight: bold;
              margin: 0px;
              max-width: 95%;
              min-width: 55%;
              box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
              padding: 10px 15px 10px 7px;
              margin: 5px 0;
              background: white;
            }
          }
          .message.incoming {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            p {
              color: white;
              border-radius: 0 11px 11px 11px;
              background: #B9C0E9;
            }
          }
          .message.outgoing {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            p {
              border-radius: 11px 11px 0 11px;
            }
          }
        }
      }
    }
  }

  ion-footer {
    background-color: darken(color($colors, light), 5%);

    ion-row {
      ion-col {
        display: flex;
        align-items: center;

        ion-input {
          background-color: color($colors, light);
          padding-left: 10px;
          padding-right: 10px;
        }
        button {
          max-height: 38px;
        }
      }
    }
  }
}
