page-chat {
  ion-header {
    app-header {
      #header_container {
        position: absolute;
        width: calc(100% - 100px);
        top: 8px;
        left: 50px;
        display: flex;
        align-items: center;

        img {
          float: left;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid darken(color($colors, light), 2%);
        }

        h3 {
          float: left;
          margin: 0 0 0 10px;

          &:after {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            bottom: 3px;
            left: 20px;
            border: 3px solid #fff;
          }

          &.online:after {
            background-color: color($colors, secondary);
          }

          &.offline:after {
            background-color: color($colors, danger);
          }

          small {
            display: block;
            font-weight: normal;
            font-size: 14px;
          }
        }
      }

      .toolbar-ios {
        min-height: 60px;
      }
    }
  }

  ion-content {
    &.no-messages .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #profile {
      .thumbnail {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid darken(color($colors, light), 2%);
      }

      ion-badge {
        margin-bottom: 3px !important;
        margin-right: 3px !important;
      }

      h3 {
        position: relative;
        margin: 5px 0 10px 0;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: -20px;
          right: calc(50% - (35px));
          border: 3px solid #fff;
        }

        &.online:after {
          background-color: color($colors, secondary);
        }

        &.offline:after {
          background-color: color($colors, danger);
        }
      }
    }

    .chat {
      display: block;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .chat-message {
        border-radius: 5px;
        display: block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;

        &:before {
          content: "\00a0";
          display: block;
          height: 16px;
          width: 9px;
          position: absolute;
          bottom: -7.5px;
        }
        &.right {
          background-color: #e6e5eb;
          float: right;

          &:before {
            background-color: #e6e5eb;
            right: 10px;
            -webkit-transform: rotate(118deg) skew(-5deg);
            transform: rotate(118deg) skew(-5deg);
          }

          span {
            float: right;
            padding-left: 7px;
            margin-right: -10px;
            color: #cdcdcd;

            &.seen {
              color: color($colors, primary);
            }
          }
        }
        &.left {
          background-color: #488aff;
          color: #fff;
          float: left;

          &:before {
            background-color: #488aff;
            left: 10px;
            -webkit-transform: rotate(70deg) skew(5deg);
            transform: rotate(70deg) skew(5deg);
          }
        }

        p {
          margin: 0;
          display: inline-block;
        }

        .images {
          margin-top: 15px;
        }
      }
    }
  }

  ion-footer {
    background-color: darken(color($colors, light), 5%);

    ion-row {
      ion-col:not(.no-flex) {
        display: flex;
        align-items: center;
      }

      ion-col {
        ion-input {
          background-color: color($colors, light);
          padding-left: 10px;
          padding-right: 25px;

          &.input-ios {
            padding-right: 38px;
          }
        }

        .more {
          position: absolute;
          top: 10px;
          right: 5px;
          z-index: 9;
          bottom: 0;
          margin: 0;
          height: 100%;
          box-shadow: none;
        }

        button {
          max-height: 38px;
        }

        .img-preview {
          position: relative;

          span {
            color: color($colors, danger);
            position: absolute;
            top: 3px;
            right: 3px;
            font-size: 18px;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
