<ion-header>
  <app-header>
    <div id="header_container">
      <img [src]="user.profile_pic" />
      <h3 [ngClass]="user.isOnline ? 'online' : 'offline'">{{ user.name }}<small>{{ user.isOnline ? 'Online' : 'Offline' }}</small></h3>
    </div>
  </app-header>
</ion-header>

<ion-content padding [ngClass]="messages.length ? '' : 'no-messages'">
  <div id="profile" *ngIf="! messages.length" text-center>
    <div class="thumbnail">
      <img [src]="user.profile_pic">
    </div>
    <h3 [ngClass]="user.isOnline ? 'online' : 'offline'">{{ user.name }}</h3>
    <ion-badge *ngFor="let speciality of user.specialities" (click)="searchAbout(speciality.display_name)">
      {{ speciality.display_name }}
    </ion-badge>
    <p>{{ user.description }}</p>
  </div>

  <div class="message" *ngFor="let message of messages" [ngClass]="message.sender !== user.id ? 'outgoing' : 'incoming'">
    <p dir="rtl">{{ message.message }}
      <span *ngIf="message.sender !== user.id" [ngClass]="message.isSeen ? 'seen' : ''">
        <ion-icon name="ios-checkmark"></ion-icon>
      </span>
    </p>
  </div>
</ion-content>

<ion-footer>
  <form [formGroup]="chat" (ngSubmit)="send()">
    <ion-row>
      <ion-col col-10>
        <ion-input placeholder="Aa..." formControlName="message" type="text" autocomplete="off"></ion-input>
      </ion-col>

      <ion-col col-2>
        <button ion-button block>
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-footer>
