chat-pop-over {
  ion-row {
    ion-col {
      padding: 0 !important;

      button {
        margin: 0 !important;
        height: 5rem !important;

        .button-inner {
          flex-wrap: wrap;

          span.title {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
