<ion-row>
  <ion-col>
    <button ion-button block color="light" (click)="getPhoto()">
      <ion-icon name="camera"></ion-icon>
      <span class="title">Photo</span>
    </button>
  </ion-col>
  <ion-col col-6 *ngIf="users.auth?.isDoctor">
    <button ion-button block color="light" *ngIf="chat.controls['inputType'].value === 'message'" (click)="chat.controls['inputType'].setValue('table')">
      <ion-icon name="more"></ion-icon>
      <span class="title">Table</span>
    </button>
    <button ion-button block color="light" *ngIf="chat.controls['inputType'].value === 'table'" (click)="chat.controls['inputType'].setValue('message')">
      <ion-icon name="chatbubbles"></ion-icon>
      <span class="title">Text</span>
    </button>
  </ion-col>
</ion-row>
