page-home {
  ion-header {
    app-header {
      ion-searchbar {
        height: 25vh;
        align-items: flex-end;
        background-image: url("../../assets/imgs/bg.jpg") !important;
        background-position: left top;
        transition: all .4s ease-in-out;

        &.has-search-data {
          height: 44px;
          padding: 6px 16px !important;
          background-image: none !important;
          background-color: darken(color($colors, light), 3%) !important;

          &.searchbar-md {
            height: 55px;
          }
        }
      }
    }
  }
  ion-content {
    > .scroll-content, > .fixed-content {
      transition: margin-top .4s ease-in-out;
    }

    &.has-search-data > .scroll-content, &.has-search-data > .fixed-content {
      margin-top: 85px !important;
    }
    &.has-search-data.content-md > .scroll-content, &.content-md.has-search-data > .fixed-content {
      margin-top: 112px !important;
    }

    #searchData {
      ion-list {
        ion-item {
          padding: 0 !important;

          .item-inner, ion-label {
            margin: 0;
            padding: 0;
          }

          ion-scroll {
            height: 20px;
            white-space: nowrap;

            .scroll-content {
              padding: 0 !important;
              margin: 0 !important;

              .scroll-zoom-wrapper {
                height: 100%;
              }
            }
          }
          ion-card {
            position: relative;
            text-align: center;

            .card-title {
              position: absolute;
              top: 36%;
              font-size: 2.0em;
              width: 100%;
              font-weight: bold;
              color: #fff;
            }

            .card-subtitle {
              font-size: 1.0em;
              position: absolute;
              top: 52%;
              width: 100%;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
