page-home {
  ion-header {
    app-header {
      ion-searchbar {
        height: 25vh;
        align-items: flex-end;
        background-image: url("../../assets/imgs/bg.jpg") !important;
        background-position: left top;
        transition: all .4s ease-in-out;

        &.has-search-data {
          height: 44px;
          padding: 6px 16px !important;
          background-image: none !important;
          background-color: darken(color($colors, light), 3%) !important;

          &.searchbar-md {
            height: 55px;
          }
        }
        &.without-input {
          .searchbar-input-container {
            visibility: hidden;
          }
        }
      }
    }
  }
  ion-content {
    > .scroll-content, > .fixed-content {
      transition: margin-top .4s ease-in-out;
      margin-top: calc(25vh + 44px) !important;
    }

    &.content-md {
      & > .scroll-content, & > .fixed-content {
        margin-top: calc(25vh + 54px) !important;
      }
    }

    &.has-search-data > .scroll-content, &.has-search-data > .fixed-content {
      margin-top: 85px !important;
    }
    &.has-search-data.content-md > .scroll-content, &.content-md.has-search-data > .fixed-content {
      margin-top: 112px !important;
    }

    ion-list {
      ion-item {
        &:first-of-type {
          padding: 0 !important;
        }

        .item-inner, ion-label {
          margin: 0 !important;
          padding: 0;
        }

        ion-scroll {
          height: 40px;
          white-space: nowrap;

          .scroll-content {
            padding: 0 !important;
            margin: 0 !important;

            .scroll-zoom-wrapper {
              height: 100%;

              ion-badge {
                margin-right: 3px;
              }
            }
          }
        }
      }
    }

    #home {
      ion-list {
        user-card {
          ion-card {
            img {
              width: 120px;
              margin: 15px auto;
              border-radius: 50%;
              overflow: hidden;
            }

            ion-card-content {
              padding: 5px;
              padding-top: 0;
              text-align: center;

              ion-card-title {
                font-size: 1.7rem;
                padding: 0;
              }
            }

            ion-item {
              text-align: center;
            }
          }
        }

        ion-item {
          padding: 0;

          ion-scroll {
            height: 235px;

            user-card {
              ion-card {
                width: 150px;
                display: inline-block;

                img {
                  width: 60px;
                }

                ion-card-content {
                  padding: 5px;
                  padding-top: 0;

                  ion-card-title {
                    font-size: 1.7rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    #no-data {
      display: flex;
      width: 100%;
      height: calc(100% - 60px);
      align-items: center;
      justify-content: center;
      color: color($colors, danger);
      font-size: 18px;
    }
  }
}
