page-master {
  ion-content {

    button {
      width: 74%;
      margin: 0 !important;
      height: 130% !important;
      position: fixed !important;
      border-radius: 0 !important;
      border: 0 !important;
      box-shadow: none !important;
      right: 0;
      top: 0;
      padding: 0;

      .button-inner {
        padding: 50px;
        align-items: flex-start;
        text-align: right;

        ion-icon {
          &:before {
            display: block;
            font-size: 65px;
            margin-bottom: 25px;
          }
        }
      }

        &:last-of-type {
        background-color: darken(color($colors, primary), 10%) !important;
        width: 85%;
        right: initial;
        left: -25%;
        top: -5%;
        transform: rotate(-15deg);

        .button-inner {
          text-align: left;
          transform: rotate(15deg);
          height: 75vh;
          align-items: flex-end;
          width: 135%;
        }
        &.activated {
          background-color: darken(color($colors, primary), 12%) !important;
        }
      }
    }
  }
}
