<ion-header>
  <app-header title="Messagess"></app-header>
</ion-header>

<ion-content padding>
  <ion-list no-lines *ngIf="users.auth?.messages?.completed.length">
    <user-card *ngFor="let message of users.auth.messages.completed"
               [description]="message.messages[message.messages.length - 1]?.message"
               [class.active]="message.hasNewMessage"
               [user]="message.with"></user-card>
  </ion-list>
  <div class="no-data" *ngIf="! users.auth?.messages?.completed.length">
    <ion-icon name="sad" large></ion-icon>

    <h1>No Messages yet!</h1>
  </div>
</ion-content>
