<ion-item-sliding *ngIf="view === 'item' && type === 'show'">
  <ion-item (click)="goToChat()">
    <ion-avatar item-start>
      <img [src]="user.profile_pic" class="profile_pic">
    </ion-avatar>
    <h2>{{ user.name }}</h2>
    <p>
      <span [innerHTML]="description ? description : ''"></span>
      <span *ngIf="!description">
        <span *ngIf="user.country">
          <img [src]="user.country" alt="COUNTRY FLAG" class="flag" width="16"> |
        </span>
        {{ user.gender }}
        <rating *ngIf="user.isDoctor" [rate]="user.rating" [user_id]="user.id"></rating>
      </span>
    </p>
  </ion-item>

  <ion-item-options side="right">
    <button (click)="goToChat()" ion-button color="primary">
      <ion-icon name="text"></ion-icon>
      Chat
    </button>

    <button ion-button color="secondary">
      <ion-icon name="call"></ion-icon>
      Call
    </button>
  </ion-item-options>
</ion-item-sliding>
<ion-card *ngIf="view === 'card'">
  <img [src]="user.profile_pic" class="profile_pic">

  <ion-card-content>
    <ion-card-title>{{ user.name }}</ion-card-title>
    <p>
      {{ description ? description : '' }}
      <span *ngIf="!description">
        <span *ngIf="user.country">
          <img [src]="user.country" alt="COUNTRY FLAG" class="flag" width="32"> |
        </span>
        {{ user.gender }}
      </span>
    </p>
  </ion-card-content>
  <ion-item>
    <rating *ngIf="user.isDoctor" [rate]="user.rating" [type]="type" [user_id]="user.id"></rating>
  </ion-item>
  <button *ngIf="type !== 'rate-now'" ion-item (click)="goToChat()">
    Chat
  </button>
</ion-card>
