app-header {
  .app-spinner-container {
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    z-index: 100000000;
  }

  #language_selector {
    position: absolute;
    right: 0;
    top: 7px;
    color: color($colors, primary);
    box-shadow: none;
    background: none !important;
  }
}
